<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
            <form action="{% url 'index'%}" method="POST">
                {% csrf_token %}
                <div class="shape">
                    <span class="lang1">
                        <select name="languages1" id="languages1">
                            <option value="auto" {% if language1 == 'auto' %}selected{% endif %}>auto-detect</option>
                            <option value="english" {% if language1 == 'english' %}selected{% endif %}>english</option>
                            <option value="portuguese" {% if language1 == 'portuguese' %}selected{% endif %}>portuguese</option>
                            <option value="spanish" {% if language1 == 'spanish' %}selected{% endif %}>spanish</option>
                            <option value="german" {% if language1 == 'german' %}selected{% endif %}>german</option>
                            <option value="russian" {% if language1 == 'russian' %}selected{% endif %}>russian</option>
                            <option value="french" {% if language1 == 'french' %}selected{% endif %}>french</option>
                            <option value="japanese" {% if language1 == 'japanese' %}selected{% endif %}>japanese</option>
                            <option value="chinese (traditional)" {% if language1 == 'chinese (traditional)' %}selected{% endif %}>chinese (traditional)</option>
                        </select>
                        <textarea name="text" placeholder="write your text here." class="text">{{text}}</textarea>
                    </span>
                    <span  class='lang2'>
                        <select name="languages2" id="languages2">
                                <option value="english" {% if language2 == 'english' %}selected{% endif %}>english</option>
                                <option value="portuguese" {% if language2 == 'portuguese' %}selected{% endif %}>portuguese</option>
                                <option value="spanish" {% if language2 == 'spanish' %}selected{% endif %}>spanish</option>
                                <option value="german" {% if language2 == 'german' %}selected{% endif %}>german</option>
                                <option value="russian" {% if language2 == 'russian' %}selected{% endif %}>russian</option>
                                <option value="french" {% if language2 == 'french' %}selected{% endif %}>french</option>
                                <option value="japanese" {% if language2 == 'japanese' %}selected{% endif %}>japanese</option>
                                <option value="chinese (traditional)" {% if language2 == 'chinese (traditional)' %}selected{% endif %}>chinese (traditional)</option>
                        </select>
                        <textarea  name="traduction"  style="background-color: rgb(243, 240, 240);" placeholder="translation of your text." class="text">{{traduction}}</textarea>
                    </span>
                </div>
                <div class="container">
                    <button type="submit" id="swap" name='swap' value="swap">SWAP</button>
                    <button type="submit" class='traduzir' name="translate" value="translate">TRANSLATE</button>
                </div>
            </form>
</body>
<script>
    function swap() {
        const lang1 = document.getElementById('languages1');
        const lang2 = document.getElementById('languages2');
        console.log(lang1.value)
        console.log(lang2.value)
        if(lang1.value == 'auto'){
            window.alert("this swap not is valid, swap 'auto-detect' for other language.")
        }
        else{
            const temp = lang1.value;
            lang1.value = lang2.value;
            lang2.value = temp;
            console.log(lang1.value)
            console.log(lang2.value)
        }
    }
    const swapButton = document.getElementById('swap');
    swapButton.addEventListener('click', swap);
</script>
<footer style="color: grey;"> developed for Caio Duarte</footer>
</html>
